body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(images/glass.jpg);
    background-size: cover;
    font-family: 'VT323', monospace;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
}

h2 {
    margin-top: 0;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-sizing: border-box;
}

.randomMode {
    background-color: antiquewhite;
    padding: 0px 16px;
    border-radius: 20px;
    border: 1px solid grey;
    box-shadow: 0 0 10px black;
    font-family: 'VT323', monospace;
    font-size: 16px;
    height: 60px;
}

.randomMode:hover {
    box-shadow: 0 0 10px black, inset 0 0 10px black;
}

.randomMode:active {
    transform: scale(1.1);
}

.rangeContainer {
    display: flex;
    flex-direction: column;
    height: 68px;
    border: 1px solid grey;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    background-color: rgba(250, 235, 215, .7);
    padding: 16px;
}

.rangeTitle {
    margin-bottom: 16px;
}

.rangeLabel {
    display: block;
}

.colorChoiceContainer {
    border: 1px solid grey;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    background-color: rgba(250, 235, 215, .7);
    padding: 16px;
}

.colorLabel {
    display: block;
    padding-bottom: 2px;
}

.colorPicker {
    background: none;
    border: none;
    height: 50px;
    width: 50px;
}

.colorPicker::-webkit-color-swatch {
    border-radius: 50%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(200, 200, 200);
    border: 4px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    height: 60vh;
    aspect-ratio: 1 / 1;
}

.container .div16 {
    width: 6.25%;
    height: 6.25%;
}